fieldset {
  border: none;
}

dl {
  width: 100%;
  box-sizing: border-box;
}

dt {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  width: 100px;
}

dd {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
}

input {
  width: 100%;
}

p {
  margin-bottom: 10px;
}

dl.list {
  margin: 0;
}

dt.list {
  width: 50px;
}

