* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2.5%;
  background-color: #333333;
}

#gallery {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

#large-photo {
  flex: 4;
}

figcaption {
  margin-top: 10px;
}

#small-photo {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  padding: 1.5%;
}

#small-photo img {
  width: 23%;
  padding: 0.2%;
  margin-bottom: 20px;
}

@media screen and (max-width: 899px) {
  #small-photo img {
    width: 31%;
  }
}

@media screen and (max-width: 599px) {
  #small-photo img {
    width: 48%;
  }
}

@media screen and (min-width: 1280px) {
  main {
    max-width: none;
  }
  
  #gallery {
    flex-direction: row;
  }

  #large-photo {
    margin-right: 50px;
  }

  #small-photo {
    flex-direction: column;
    overflow: hidden;
  }

  #small-photo img {
    width: 100%;
    padding: 1%;
  }

  figure {
    width: 1000px;
  }
}